Flask==2.3.3
Flask-WTF==1.2.1
gunicorn==21.2.0

# Database
psycopg2-binary==2.9.10

# Data handling
pandas==2.3.2

# HTTP client
requests==2.31.0

# Geocoding & Distance
geopy==2.3.0

# Mapping
folium==0.14.0

# Environment variables
python-dotenv==1.0.0

# Caching (optional if using Redis later)
redis==5.0.1

# Logging helpers
structlog==23.2.0

# ipython
ipython==9.5.0